*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}

.appWrapper{
  width: 95vw;
  margin: auto;
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
}

h1{
  text-align: center;
}